In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
pd.__version__

'1.1.3'

In [46]:
data = np.array([[1.,1.,'OR'], [1.,2.,'OR'],[1.,2.5,'OR'],[3.,3.,'GF'],
               [3.5,2.5,'GF'],[4.,3.,'GF'],[3.,2.5,'NN']])
query = [3.0,2.5, 'NN']

In [8]:
df = pd.DataFrame(data)
df.columns = ['x','y','cat']
df

     x    y cat
0  1.0  1.0  OR
1  1.0  2.0  OR
2  1.0  2.5  OR
3  3.0  3.0  GF
4  3.5  2.5  GF
5  4.0  3.0  GF
6  3.0  2.5  NN

In [48]:
for i in range (7):
    if (df.ix[i]['cat'] == 'GF'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        elif(df.ix[i]['cat'] == 'OR'):
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=100, c='r')
        else:
            plt.scatter(df.ix[i]['x'], df.ix[i]['y'], s=200, c='b')
        
plt.grid()
plt.show()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

In [51]:
import math
dis = []
for i in range(7):
    dis.append(math.sqrt((float(df.iloc[i]['x'])- query[0]) **2
    + (float(df.iloc[i]['y']) - query[1]) **2 ))

In [52]:
df['dis'] = dis
df

     x    y cat       dis
0  1.0  1.0  OR  2.500000
1  1.0  2.0  OR  2.061553
2  1.0  2.5  OR  2.000000
3  3.0  3.0  GF  0.500000
4  3.5  2.5  GF  0.500000
5  4.0  3.0  GF  1.118034
6  3.0  2.5  NN  0.000000

In [53]:
df.to_excel('D:/datamining/output_KNN.xls')